<h3 class="text-center" style="margin-top: 30px;">Sus turnos, {{auth.usuarioRealActual?.apellido}}</h3>
<div class="input-container">
	<button type="button" class="btn" btn="border" (click)="filtroChange('', 'limpiar')" appBtn>Resetear</button>
	<input type="text" [(ngModel)]="filtroActual" placeholder="filtrar turnos" class="filtro-input">
	<button type="button" class="btn" (click)="filtroChange(filtroActual)" appBtn>Buscar</button>
	
</div>
<div class="turnos-container">
	
	@for (turno of turnosFiltrado; track $index) {
		<div class="turno-card">
			<div class="turno-header">
				<h4 style="margin-bottom: 10px;"><strong>{{ turnosFiltrado[$index].especialidad }}</strong></h4>
				<p><strong>Fecha:</strong> {{ turnosFiltrado[$index].fecha }}</p>
				<p><strong>Horario:</strong> {{ turnosFiltrado[$index].horario }}</p>

				<div class="button-container">
					@switch (turnosFiltrado[$index].estado) {
						@case ("Pendiente de aprobacion") {
							@if (auth.usuarioRealActual?.rol == "paciente" || auth.usuarioRealActual?.rol == "administrador") {
								<button appBtn (click)="accionModal('cancelar', turnosFiltrado[$index])" class="btn w-100 py-2" type="submit">Cancelar turno</button>
							}
							@else if (auth.usuarioRealActual?.rol == "especialista") {
								<button appBtn (click)="accionModal('aceptar-especialista', turnosFiltrado[$index])"  class="btn w-100 py-2" type="submit">Aceptar turno</button>
								<button appBtn (click)="accionModal('rechazar-especialista', turnosFiltrado[$index])"  class="btn w-100 py-2" type="submit">Rechazar turno</button>
							}
						}
						@case ("Cancelado") {
							@if (auth.usuarioRealActual?.rol == "paciente") {
								<button appBtn (click)="accionModal('vercomentario', turnosFiltrado[$index])" class="btn w-100 py-2" type="submit">Ver comentario</button>
							}
							@else if (auth.usuarioRealActual?.rol == "especialista") {
								<button appBtn (click)="accionModal('vercomentario', turnosFiltrado[$index])" class="btn w-100 py-2" type="submit">Ver comentario</button>
							}
						}
						@case ("Rechazado") {
							@if (auth.usuarioRealActual?.rol == "paciente") {
								<button appBtn (click)="accionModal('vercomentario', turnosFiltrado[$index])" class="btn w-100 py-2" type="submit">Ver comentario</button>
							}
							@else if (auth.usuarioRealActual?.rol == "especialista") {
								<button appBtn (click)="accionModal('vercomentario', turnosFiltrado[$index])" class="btn w-100 py-2" type="submit">Ver comentario</button>
							}
						}
						@case ("Aceptado") {
							@if (auth.usuarioRealActual?.rol == "paciente" || auth.usuarioRealActual?.rol == "administrador") {
								<button appBtn (click)="accionModal('cancelar', turnosFiltrado[$index])"  class="btn w-100 py-2" type="submit">Cancelar turno</button>
							}
							@else if (auth.usuarioRealActual?.rol == "especialista") {
								<button appBtn btn="border" (click)="accionModal('cancelar', turnosFiltrado[$index])"  class="btn w-100 py-2" type="submit">Cancelar turno</button>
								<button appBtn (click)="accionModal('finalizar', turnosFiltrado[$index])"  class="btn w-100 py-2" type="submit">Finalizar turno</button>
							}
						}
						@case ("Finalizado") {
							@if (auth.usuarioRealActual?.rol == "paciente") {
								<button appBtn (click)="accionModal('vercomentario', turnosFiltrado[$index])"  class="btn w-100 py-2" type="submit">Ver reseña</button>
								@if (turnosFiltrado[$index].completado_paciente_atencion == "") {
									<button appBtn btn="border" (click)="accionModal('encuesta-paciente', turnosFiltrado[$index])"  class="btn w-100 py-2" type="submit">Encuesta</button>
								}
							}
							@else if (auth.usuarioRealActual?.rol == "especialista") {
								<button appBtn (click)="accionModal('vercomentario', turnosFiltrado[$index])"  class="btn w-100 py-2" type="submit">Ver reseña</button>
							}
						}
					}
				</div>

			</div>
			<div class="turno-body">
				<p><strong>Estado:</strong> {{ turnosFiltrado[$index].estado }}</p>
				<p><strong>Especialista:</strong> {{ turnosFiltrado[$index].especialistaNombreApellido}}</p>
				<p><strong>Paciente:</strong> {{ turnosFiltrado[$index].pacienteNombreApellido }}</p>
			</div>
		</div>
	}
</div>
	

<!-- modal  -->
<!-- modal  -->
<div class="modal fade" id="modalCancelar" #modalCancelar tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered mx-auto" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle" style="margin-right: 10px;">Sobre el turno...</h5>
				<button appBtn btn="border" (click)="accionModal('', null, 'cerrar', 'cancelar')" class="btn w-20 py-2" type="submit">Cancelar</button>
            </div>
            <div class="modal-body">
                <div class="input-container">
                    <div class="input-and-button"> <!-- Nuevo contenedor para el input y el botón -->
                        @if (accionParaModal == "cancelar") {
							
                            <input type="text" [(ngModel)]="modalInput1" placeholder="Comentario de cancelación" class="filtro-input">
							<button type="button" (click)="accionModal('', null, 'cerrar')" appBtn btn="border" class="btn btn-primary">Subir comentario</button>
                        }
                        @else if (accionBotonModal == "vercomentario") {
                            <p>{{modalOutput1}}</p>
							@if (turnoTocadoActual?.estado == "Finalizado" && turnoTocadoActual?.completado_paciente_atencion != "") {
								<p>{{modalOutput2}}</p>
							}
							<button type="button" (click)="accionModal('', null, 'cerrar')" appBtn btn="border" class="btn btn-primary">Cerrar</button>
                        }
                        @else if (accionBotonModal == "finalizar") {
                            <input type="text" [(ngModel)]="modalInput1" placeholder="Deje su reseña/diagnóstico" class="filtro-input">

							<p>Para la historia clínica del turno...</p>

							<form class="input-and-button" [formGroup]="formGroupHistoriaClinica">
								<input type="text" formControlName="altura" placeholder="Altura" class="filtro-input">
								@if (formGroupHistoriaClinica.controls["altura"].touched && obtenerMensajeError("altura", "historia") != null){
									<p style="color: rgb(255, 95, 95);">{{obtenerMensajeError("altura", "historia")}}</p>
								}
								<input type="text" formControlName="peso" placeholder="Peso" class="filtro-input">
								@if (formGroupHistoriaClinica.controls["peso"].touched && obtenerMensajeError("peso", "historia") != null){
									<p style="color: rgb(255, 95, 95);">{{obtenerMensajeError("peso", "historia")}}</p>
								}
								<input type="text" formControlName="temperatura" placeholder="Temperatura" class="filtro-input">
								@if (formGroupHistoriaClinica.controls["temperatura"].touched && obtenerMensajeError("temperatura", "historia") != null){
									<p style="color: rgb(255, 95, 95);">{{obtenerMensajeError("temperatura", "historia")}}</p>
								}
								<input type="text" formControlName="presion" placeholder="Presión" class="filtro-input">
								@if (formGroupHistoriaClinica.controls["presion"].touched && obtenerMensajeError("presion", "historia") != null){
									<p style="color: rgb(255, 95, 95);">{{obtenerMensajeError("presion", "historia")}}</p>
								}
								<input type="text" formControlName="dinamico1" placeholder="Clave valor opcional 1" class="filtro-input">
								@if (formGroupHistoriaClinica.controls["dinamico1"].touched && obtenerMensajeError("dinamico1", "historia") != null){
									<p style="color: rgb(255, 95, 95);">{{obtenerMensajeError("dinamico1", "historia")}}</p>
								}
								<input type="text" formControlName="dinamico2" placeholder="Clave valor opcional 2" class="filtro-input">
								@if (formGroupHistoriaClinica.controls["dinamico2"].touched && obtenerMensajeError("dinamico2", "historia") != null){
									<p style="color: rgb(255, 95, 95);">{{obtenerMensajeError("dinamico2", "historia")}}</p>
								}
								<input type="text" formControlName="dinamico3" placeholder="Clave valor opcional 3" class="filtro-input" style="margin-bottom: 15px;">
								@if (formGroupHistoriaClinica.controls["dinamico3"].touched && obtenerMensajeError("dinamico3", "historia") != null){
									<p style="color: rgb(255, 95, 95);">{{obtenerMensajeError("dinamico3", "historia")}}</p>
								}
								<button [disabled]="!formGroupHistoriaClinica.valid" type="button" (click)="accionModal('', null, 'cerrar')" appBtn btn="border" class="btn btn-primary">Subir reseña</button>
							</form>
                        }
						@else if (accionBotonModal == "encuesta-paciente") {
                            <input type="text" [(ngModel)]="modalInput1" placeholder="Deje su comentario sobre el turno en general" class="filtro-input">
							<input type="text" [(ngModel)]="modalInput2" placeholder="¿Cómo fue la atención del especialista?" class="filtro-input">
							<button type="button" (click)="accionModal('', null, 'cerrar')" appBtn btn="border" class="btn btn-primary">Subir encuesta</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
