.turnos-container {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 20px;
    max-width: 90%; 
    overflow-x: auto; 
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #ced4da;
    background-color: #f1f1f1;
    white-space: nowrap; 
}

.turno-card {
    min-width: 300px; 
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    background-color: #f9f9f9;
    transition: transform 0.3s;
}

.turno-header {
    background-color: rgb(58, 64, 70);
    color: #fff;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

.turno-body {
    word-wrap: break-word; 
    overflow: scroll; 
    text-overflow: ellipsis; 
}

.turno-body p {
    margin: 5px 0;
}

.button-container {
    display: flex;
    gap: 10px; 
    flex-wrap: wrap; 
    justify-content: center; 
}

.button-container .btn {
    flex: 1; 
    min-width: 100px; 
}


.pacientes-container {
	display: flex;
	flex-wrap: wrap; /* Permite que los botones pasen a la siguiente línea si es necesario */
	justify-content: center; /* Centra horizontalmente los botones */
	gap: 10px; /* Espacio entre los botones */
	margin-top: 20px; /* Ajusta el espacio superior */
  }
  
  .paciente-btn {
	padding: 10px 20px; /* Ajusta el tamaño del botón */
	border-radius: 5px; /* Bordes redondeados para un aspecto más bonito */
	font-size: 16px; /* Ajusta el tamaño de la fuente */
  }
  