
.spinner-container {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5); 
    display: none; 
    align-items: center;
    justify-content: center;
    z-index: 1000; 
}

.spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 24px;
}

.spinner-text {
    margin-top: 10px; 
}