<h3 style="margin-top: 25px;" class="text-center">Estadísticas administrador</h3>
<div class="contenedor-graficos">
	<div class="card d-flex flex-wrap cardCompleta">
		<div class="d-flex justify-content-center mt-3">
			<app-grafico-generico id="graf1" tipoGrafico="pie"
			[labels]="['k','l','m','n','o']"
			[series]="[15,25,35,45,55]"
			tituloGrafico="Gráfico 3"
			[anchoGrafico]="'250px'"
			[anchoContenedorGrafico]="'350px'">
			</app-grafico-generico>
		</div>
		<div class="d-flex justify-content-center mt-3">
			<button style="margin: 10px;" class="btn" appBtn (click)="generarPDF('graf1')">Generar PDF</button>
		</div>
	</div>

	<div class="card d-flex flex-wrap cardCompleta">
		<div class="d-flex justify-content-center mt-3">
			<app-grafico-generico id="graf2" tipoGrafico="barras"
			[labels]="['k','l','m','n','o']"
			[series]="[{name:'', data:[1,2,3,4,5]}]"
			tituloGrafico="Gráfico 3"
			[anchoGrafico]="'250px'"
			[anchoContenedorGrafico]="'350px'">
			</app-grafico-generico>
		</div>
		<div class="d-flex justify-content-center mt-3">
			<button style="margin: 10px;" class="btn" appBtn (click)="generarPDF('graf2')">Generar PDF</button>
		</div>
	</div>

	<div class="card d-flex flex-wrap cardCompleta">
		<div class="d-flex justify-content-center mt-3">
			<app-grafico-generico id="graf3" tipoGrafico="lineas"
			[labels]="['k','l','m','n','o']"
			[series]="[{name:'', data:[1,2,3,4,5]}]"
			tituloGrafico="Gráfico 3"
			[anchoGrafico]="'250px'"
			[anchoContenedorGrafico]="'350px'">
			</app-grafico-generico>
		</div>
		<div class="d-flex justify-content-center mt-3">
			<button style="margin: 10px;" class="btn" appBtn (click)="generarPDF('graf3')">Generar PDF</button>
		</div>
	</div>

	<div class="card d-flex flex-wrap cardCompleta">
		<div class="d-flex justify-content-center mt-3">
			<app-grafico-generico id="graf2" tipoGrafico="pie"
			[labels]="['k','l','m','n','o']"
			[series]="[15,25,35,45,55]"
			tituloGrafico="Gráfico 3"
			[anchoGrafico]="'250px'"
			[anchoContenedorGrafico]="'350px'">
			</app-grafico-generico>
		</div>
		<div class="d-flex justify-content-center mt-3">
			<button style="margin: 10px;" class="btn" appBtn (click)="generarPDF('graf2')">Generar PDF</button>
		</div>
	</div>

	<div class="card d-flex flex-wrap cardCompleta">
		<div class="d-flex justify-content-center mt-3">
			<app-grafico-generico id="graf2" tipoGrafico="pie"
			[labels]="['k','l','m','n','o']"
			[series]="[15,25,35,45,55]"
			tituloGrafico="Gráfico 3"
			[anchoGrafico]="'250px'"
			[anchoContenedorGrafico]="'350px'">
			</app-grafico-generico>
		</div>
		<div class="d-flex justify-content-center mt-3">
			<button style="margin: 10px;" class="btn" appBtn (click)="generarPDF('graf2')">Generar PDF</button>
		</div>
	</div>

	<div class="card d-flex flex-wrap cardCompleta">
		<div class="d-flex justify-content-center mt-3">
			<app-grafico-generico id="graf2" tipoGrafico="pie"
			[labels]="['k','l','m','n','o']"
			[series]="[15,25,35,45,55]"
			tituloGrafico="Gráfico 3"
			[anchoGrafico]="'250px'"
			[anchoContenedorGrafico]="'350px'">
			</app-grafico-generico>
		</div>
		<div class="d-flex justify-content-center mt-3">
			<button style="margin: 10px;" class="btn" appBtn (click)="generarPDF('graf2')">Generar PDF</button>
		</div>
	</div>

	<div class="card d-flex flex-wrap cardCompleta">
		<div class="d-flex justify-content-center mt-3">
			<app-grafico-generico id="graf2" tipoGrafico="pie"
			[labels]="['k','l','m','n','o']"
			[series]="[15,25,35,45,55]"
			tituloGrafico="Gráfico 3"
			[anchoGrafico]="'250px'"
			[anchoContenedorGrafico]="'350px'">
			</app-grafico-generico>
		</div>
		<div class="d-flex justify-content-center mt-3">
			<button style="margin: 10px;" class="btn" appBtn (click)="generarPDF('graf2')">Generar PDF</button>
		</div>
	</div>
</div>	
