@if (rol != ""){
	<main class="form-signin w-100 m-auto container">
		<form [formGroup]="formGroupMio" (ngSubmit)="registrarse()" class="slide-down">
			
			<h1 class="h3 mb-3 fw-normal text-center">Registrarse</h1>
			
			@if (rol == "paciente")
			{
				<h5 class="mb-3 fw-normal text-center">Paciente</h5>
			}
			@else if (rol == "especialista") 
			{
				<h5 class="mb-3 fw-normal text-center">Especialista</h5>
			}
	
			<div class="contenedorGeneral" style="display: flex; flex-direction: row;">
				<div class="contenedor1">
					<div class="form-floating" style="margin-bottom: 10px;">
						<input formControlName="correo" name="email" type="email" class="form-control" id="email" placeholder="name@example.com" />
						<label for="floatingInput">Correo electrónico</label>
						@if (formGroupMio.controls["correo"].touched && obtenerMensajeError("correo", "mio") != null)
						{
							<p style="color: rgb(255, 95, 95);">{{obtenerMensajeError("correo", "mio")}}</p>
						}    
					</div>
				
					<div class="form-floating" style="margin-bottom: 10px;">
						<input formControlName="clave"  name="password" type="password" class="form-control" id="password" placeholder="Password" />
						<label for="floatingPassword">Contraseña</label>
						
						@if (formGroupMio.controls["clave"].touched && obtenerMensajeError("clave", "mio") != null)
						{
							<p style="color: rgb(255, 95, 95);">{{obtenerMensajeError("clave", "mio")}}</p>
						}
					</div>
		
		
					<div class="form-floating" style="margin-bottom: 10px;">
						<input (change)="changeImg($event, 1)" formControlName="imagen" name="imagen" type="file" class="form-control" id="imagen" placeholder="name@example.com" />
						<label for="floatingInput">Imagen de perfil</label>
						@if (formGroupMio.controls["imagen"].touched && obtenerMensajeError("imagen", "mio") != null)
						{
							<p style="color: rgb(255, 95, 95);">{{obtenerMensajeError("imagen", "mio")}}</p>
						}
					</div>
				</div>  
			  
			
				<div class="contenedor2">
					<div class="form-floating" style="margin-bottom: 10px;">
						<input formControlName="nombre" name="nombre" type="text" class="form-control" id="nombre" placeholder="name@example.com" />
						<label for="floatingInput">Nombre</label>
						@if (formGroupMio.controls["nombre"].touched && obtenerMensajeError("nombre", "mio") != null)
						{
							<p style="color: rgb(255, 95, 95);">{{obtenerMensajeError("nombre", "mio")}}</p>
						}
					</div>
				
				
				
					<div class="form-floating" style="margin-bottom: 10px;">
						<input formControlName="apellido" name="apellido" type="text" class="form-control" id="apellido" placeholder="name@example.com" />
						<label for="floatingInput">Apellido</label>
						@if (formGroupMio.controls["apellido"].touched && obtenerMensajeError("apellido", "mio") != null)
						{
							<p style="color: rgb(255, 95, 95);">{{obtenerMensajeError("apellido", "mio")}}</p>
						}
					</div>
				
				
				
					<div class="form-floating" style="margin-bottom: 10px;">
						<input formControlName="edad" name="edad" type="text" class="form-control" id="edad" placeholder="name@example.com" />
						<label for="floatingInput">Edad</label>
						@if (formGroupMio.controls["edad"].touched && obtenerMensajeError("edad", "mio") != null)
						{
							<p style="color: rgb(255, 95, 95);">{{obtenerMensajeError("edad", "mio")}}</p>
						}
					</div>
				
				</div>
			 
		
				<div class="contenedor3">
					<div class="form-floating" style="margin-bottom: 10px;">
						<input formControlName="dni" name="dni" type="text" class="form-control" id="dni" placeholder="name@example.com" />
						<label for="floatingInput">Dni</label>
						@if (formGroupMio.controls["dni"].touched && obtenerMensajeError("dni", "mio") != null)
						{
							<p style="color: rgb(255, 95, 95);">{{obtenerMensajeError("dni", "mio")}}</p>
						}
					</div>
					
	
					@if (rol == "paciente")
					{
						<form [formGroup]="formPaciente">
							<div class="form-floating" style="margin-bottom: 10px;">
								<input formControlName="obraSocial" name="obraSocial" type="text" class="form-control" id="obraSocial" placeholder="name@example.com" />
								<label for="floatingInput">Obra Social</label>
								@if (formPaciente.controls["obraSocial"].touched && obtenerMensajeError("obraSocial", "paciente") != null)
								{
									<p style="color: rgb(255, 95, 95);">{{obtenerMensajeError("obraSocial", "paciente")}}</p>
								}
							</div>
							
							
							<div class="form-floating" style="margin-bottom: 10px;">
								<input (change)="changeImg($event, 2)" formControlName="imagen2" name="imagen2" type="file" class="form-control" id="imagen2" placeholder="name@example.com" />
								<label for="floatingInput">Imagen de perfil nro 2</label>
								@if (formPaciente.controls["imagen2"].touched && obtenerMensajeError("imagen2", "paciente") != null)
								{
									<p style="color: rgb(255, 95, 95);">{{obtenerMensajeError("imagen2", "paciente")}}</p>
								}
							</div>
						</form>
						
					}
					@else if (rol == "especialista") 
					{
						<label for="especialidad">Seleccionar especialidad</label>
	
						<form [formGroup]="formEspecialista">
							<div class="input-group mb-3">
								<select formControlName="especialidad" class="form-floating custom-select" id="inputGroupSelect02" (change)="clickSelect($event)">
									<option value="Cardiología">Cardiología</option>
									<option value="Obstetría">Obstetría</option>
									<option value="Neumonología">Neumonología</option>
									<option value="Pediatría">Pediatría</option>
									<option value="Dermatología">Dermatología</option>
								</select>
								@if (formEspecialista.controls["especialidad"].touched && obtenerMensajeError("especialidad", "especialista") != null)
								{
									<p style="color: rgb(255, 95, 95);">{{obtenerMensajeError("especialidad", "especialista")}}</p>
								}
							</div>
		
							<div class="form-floating" style="margin-bottom: 10px;">
								<input formControlName="especialidadPropia" name="especialidadPropia" type="text" class="form-control" id="especialidadPropia" placeholder="name@example.com" />
								<label for="floatingInput">Especialidad propia</label>
								<button class="btn btn-primary" (click)="especialidadPropia()">Agregar</button>
							</div>
						</form>
									
					}
				</div>
	
				@if (rol == "especialista")
				{
	
					<div class="contenedor4" style="max-height: 350px; overflow-y: auto;"> 
						<ul>
							@for (item of arrayEspecialidades; track $index) {
								<li>
									<div class="listContenedor">
										<p style="margin: 0 !important;">{{arrayEspecialidades[$index]}}</p>
										<p class="cruz" style="color: red;" (click)="borrarEspecialidad($index)">X</p>
									</div>
								</li>
							}
						</ul>
					</div>
				}
			</div>
		  
			<div class="d-flex justify-content-center" style="margin: 20px 0;">
				<app-captcha (captchaCompletado)="enCaptchaCompletado($event)"></app-captcha> 
			</div>

			@if (rol == "paciente")
			{
				<button appBtn [disabled]="!formGroupMio.valid || !formPaciente.valid" class="btn w-100 py-2" type="submit">Registrarse</button>
			}
			@else if (rol == "especialista") 
			{
				
				@if (arrayEspecialidades.length > 0) {
					<button appBtn [disabled]="!formGroupMio.valid || !formEspecialista.valid" class="btn w-100 py-2" type="submit">Registrarse</button>
				}
				@else {	
					<!-- <p style="color: rgb(255, 95, 95);">El especialista debe tener al menos 1 especialidad...</p> -->
					<button appBtn disabled class="btn w-100 py-2" type="submit">Registrarse</button>
				}
			}
		</form>
	  </main>

}
@else {
	<div class="container my-5">
		<div class="row justify-content-center">
			<div class="card col-10 text-center p-4 text-dark contenedor">
				<h4 style="margin-bottom: 20px;">Registrarse</h4>
				<div class="button-container d-flex justify-content-center">
					<button class="user-button" class="btn" (click)="rol = 'especialista'">
						<img src="assets/especialista.jpg" width="100px" height="75px" />
					</button>
					<button class="user-button" class="btn" (click)="rol = 'paciente'">
						<img src="assets/paciente.jpg" width="100px" height="75px" />
					</button>
				</div>
			</div>
		</div>
	</div>
}
