.container {
    display: flex;
    width: 100%;
}

.card-container {
    width: 50%;
    max-height: 750px;
    overflow-y: auto;
    padding: 10px;
}

.login-form {
    width: 50%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;

}

.card-header {
    background-color: rgb(58, 64, 70);
    color: #fff;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

.card-body {
    padding: 10px;
}

.card-body p {
    margin: 5px 0;
}

.user-image {
    width: 75px;
    border-radius: 4px;
    margin: 10px 0;
}
