.header
{
    background-color: rgb(58, 64, 70) !important;
}

.option
{
    color: rgb(255, 255, 255) !important;
}
.option:hover
{
    cursor: pointer;
    color: rgb(205, 205, 205) !important;
}

.img:hover {
    cursor: pointer;
}
