<header class="p-3 text-bg-dark header">
    <div class="container">
      <div
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">


        <img routerLink="/bienvenida" class="bi me-2 img" width="40px" height="auto" role="img" aria-label="Bootstrap" src="assets/logo.png" alt="logo"/>
  
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            @if (auth.usuarioActual == null) {
                <li class="nav-link px-2 text-white option" routerLink="/bienvenida">¡Bienvenido/a a la clínica 'OnLine'!</li>
            }
            @else {
                <li class="nav-link px-2 text-white option" routerLink="/home">Home</li>

                @if (auth.usuarioRealActual != null && auth.determinarTipoUsuario() == "administrador"){
                    <li class="nav-link px-2 text-white option" routerLink="/admin-usuarios">Seccion usuarios</li>
                }
            }

          
        </ul>
  
        <div class="d-flex align-items-center text-end">
          @if (auth.logueado) 
          {
              @if (auth.usuarioActual != null) 
              {
                  <p class="mb-0 me-3">{{auth.usuarioActual.email}}</p>
                  <img src="{{auth.usuarioRealActual?.imagenPerfil}}" class="ftoPerfil">
              }
  
              <button type="button" class="btn btn-outline-light me-2" (click)="cerrarSesion()">Cerrar Sesión</button>
          } 
          @else 
          { 
              <button appBtn btn="border" type="button" class="btn me-2" routerLink="/login">Iniciar sesión</button>
              <button appBtn type="button" class="btn me-2" routerLink="/registro">Registrarse</button>
          } 
        </div>
      </div>
    </div>
  </header>
  
  <router-outlet />