.header
{
    background-color: rgb(58, 64, 70) !important;
}

.option
{
    color: rgb(255, 255, 255) !important;
}
.option:hover
{
    cursor: pointer;
    color: rgb(205, 205, 205) !important;
}

.img:hover {
    cursor: pointer;
}

.ftoPerfil
{
    width: 40px;
    height: auto;
    border-radius: 50%; /* Esto hace que la imagen sea circular */
    object-fit: cover; /* Para asegurar que la imagen se recorte y se mantenga en forma circular */
}

.btn-perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    height: 100%;
    border: 1px solid #fff;
    border-radius: 8px;
    width: auto; 
    min-width: 120px; 
    max-width: 200px; 
	margin-right: 15px;
}

.btn-perfil img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px; /* Espacio entre texto y la imagen */
    object-fit: cover;
}

.btn-perfil p {
    margin: 0;
    color: #fff;
    font-size: 1rem;
}