.header
{
    background-color: rgb(58, 64, 70) !important;
}

.option
{
    color: rgb(255, 255, 255) !important;
}
.option:hover
{
    cursor: pointer;
    color: rgb(205, 205, 205) !important;
}

.img:hover {
    cursor: pointer;
}

.ftoPerfil
{
    margin-right: 15px;
    width: 40px;
    height: auto;
    border-radius: 50%; /* Esto hace que la imagen sea circular */
    object-fit: cover; /* Para asegurar que la imagen se recorte y se mantenga en forma circular */
}