.contenedor {
    background-color: rgb(232, 232, 232); /* Fondo gris */
    padding: 20px; /* Espacio dentro del contenedor */
    border-radius: 8px; /* Bordes redondeados para un mejor diseño */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil alrededor */
    max-width: 600px; /* Limita el tamaño máximo del contenedor */
	max-height: 400px;
	overflow: scroll;
    margin: 0 auto; /* Centra el contenedor */

}

.rounded-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px; /* mismo tamaño que la imagen */
    height: 50px; /* mismo tamaño que la imagen */
    padding: 0;
    border: none;
    border-radius: 50%; /* para bordes completamente redondeados */
    overflow: hidden; /* asegura que la imagen quede contenida */
    background-color: transparent; /* opcional */
    cursor: pointer;
}

.rounded-button img {
    border-radius: 50%; /* también asegura que la imagen quede redondeada */
}

.btnBack{
	display: flex;
    align-items: center;
    justify-content: center;
}


